html{
  box-sizing: border-box;
}
*,*::after,*::before{
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  position: relative;
}
body{
  overflow-x: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.container{
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}
body{
  background-color: #1b1b1b;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}
.title{
  display: inline-block;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  margin-left: 80px;
  position: relative;
  &::before{
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    background-color: $acent;
    bottom: -8px;
    right: 20%;
  }
}